<% if variant == :informational %>
  <div class="<%= class_names("cfa-card rounded-lg p-cfa-lg bg-background-container", @css_class) %>">
    <%= content %>
  </div>
<% elsif action? %>
  <div class="<%= class_names("cfa-card border border-border-secondary rounded-lg overflow-clip", (image? ? "bg-background-secondary" : "bg-white"), @css_class) %>">
    <div class="flex flex-col gap-px">
      <% if image? %>
        <%= image %>
      <% end %>
      <div class="bg-white p-cfa-lg cfa-stack-sm">
        <%= content %>
      </div>
      <% if buttons? %>
        <div class="bg-white px-cfa-lg pt-cfa-sm pb-cfa-lg cfa-stack-med [&_.btn]:mx-0!">
          <% buttons.each do |button| %>
            <%= button %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="<%= class_names("cfa-card bg-white border border-border-secondary rounded-lg p-cfa-lg", @css_class) %>">
    <%= content %>
  </div>
<% end %>
