<div x-data x-combobox class="<%= class_names("max-w-lg cfa-stack-sm", @css_class) %>"
     x-init="Alpine.store('<%= @method.to_s %>', '<%= current_value %>')"
     @change="Alpine.store('<%= @method.to_s %>', $event.target.value)">
  <% invalid = @form.object.errors[@method].any? %>
  <%= @form.label @method, label_with_optional_marker, class: "label block", "x-combobox:label": "" %>
  <% if @help_text %>
    <p x-combobox:desc class="help_text">
      <%= @help_text %>
    </p>
  <% end %>
  <%= @form.select(
        @method,
        @collection.map { |o| [o.send(@item_label_method), o.send(@item_value_method)] },
        {prompt: I18n.t("cfaui.combobox.placeholder").to_s, disabled: disabled_values},
        {"x-combobox:values": "", aria: {invalid: invalid, required: @optional ? nil : "true", describedby: (error_dom_id if invalid)}.compact}.merge(@input_attrs)
      ) %>
  <template x-if="$combobox.isLoaded">
    <div class="relative">
      <div class="cfa-combobox__field flex w-full">
        <input
          x-combobox:input
          aria-invalid="<%= invalid %>"
          class="!pr-10 w-full h-10 data-[invalid]:ring-2 data-[invalid]:ring-error data-[invalid]:border-transparent"
          placeholder="<%= I18n.t("cfaui.combobox.placeholder") %>"
          <%= tag.attributes(@input_attrs) %>
        >
        <div class="absolute z-10 inset-y-px right-px flex">
          <button x-combobox:toggle class="cfa-combobox__toggle h-full px-cfa-sm flex items-center bg-transparent">
            <template x-if="$combobox.isOpen">
              <%= render(IconComponent.new(icon: "expand_less")) %>
            </template>
            <template x-if="!$combobox.isOpen">
              <%= render(IconComponent.new(icon: "expand_more")) %>
            </template>
          </button>
        </div>
      </div>
      <ul x-combobox:list class="cfa-combobox__list !list-none !pl-0 !absolute border !border-t-0 border-border-secondary divide-y divide-border-secondary rounded-b bg-white max-h-72 overflow-y-scroll w-full z-10">
        <template x-for="option in $combobox.allOptions" :key="option.value">
          <li x-combobox:item
              :data-disabled="option.disabled"
              :class="option.disabled ? 'cursor-not-allowed opacity-50' : 'cursor-pointer hover:bg-primary-hover focus-visible:outline-4 focus-visible:-outline-offset-2 focus-visible:outline-focus'"
              class="!h-12 flex items-center !p-cfa-sm !m-0 leading-none aria-selected:bg-primary-hover">
            <span class="block w-full" x-text="option.label"></span>
          </li>
        </template>
        <template x-if="$combobox.noResults">
          <li class="!h-12 flex items-center !p-cfa-sm cursor-not-allowed leading-none">
            <span class="block w-full p-cfa-sm"><%= I18n.t("cfaui.combobox.no_results") %></span>
          </li>
        </template>
      </ul>
    </div>
  </template>
  <%= render(FormErrorsComponent.new(form: @form, method: @method)) %>
</div>
