<div x-data x-combobox class="max-w-lg space-y-cfa-sm"
     x-init="Alpine.store('<%= @method.to_s %>', '<%= current_value %>')"
     @change="Alpine.store('<%= @method.to_s %>', $event.target.value)">
  <%= @form.label @method, @label, class: "label block #{required_class}", "x-combobox:label": "" %>
  <% if @help_text %>
    <p x-combobox:desc class="help_text" >
      <%= @help_text %>
    </p>
  <% end %>
  <%= @form.select(@method, @collection.map { |o| [o.send(@item_label_method), o.send(@item_value_method)] }, {prompt: I18n.t("combobox.placeholder_label").to_s}, html_options = {"x-combobox:values": ""}) %>

  <template x-if="$combobox.isLoaded">
    <div class="relative mt-cfa-sm">
      <div class="flex w-full">
        <input x-combobox:input class="pr-10 p-cfa-sm bg-white w-full h-10 rounded-sm border focus:outline focus:outline-offset-4 focus:outline-4 focus:!outline-blue-800 selection:!rounded-t-sm data-[invalid]:ring-4 data-[invalid]:ring-red-60v data-[invalid]:border-transparent data-[invalid]:outline-offset-4" placeholder="<%= I18n.t("combobox.placeholder_label") %>">
        <div class="absolute z-10 inset-y-0 right-0 flex">
            <button x-combobox:toggle class="h-full px-cfa-sm flex items-center focus:outline focus:-outline-offset-4 focus:outline-4 focus:outline-blue-40v/60 bg-transparent">
              <template x-if="$combobox.isOpen">
                <%= render(IconComponent.new(icon: "chevron_up")) %>
              </template>
              <template x-if="!$combobox.isOpen">
                <%= render(IconComponent.new(icon: "chevron_down")) %>
              </template>
            </button>
        </div>
      </div>
      <ul x-combobox:list class="!list-none !absolute border !border-t-0 border-gray-60 bg-white max-h-52 overflow-y-scroll w-full z-10">
        <template x-for="option in $combobox.allOptions" :key="option.value">
          <li x-combobox:item class="p-cfa-sm !m-0 cursor-pointer aria-selected:bg-blue-60v data-active:outline data-active:outline-4 data-active:!outline-blue-800 data-active:-outline-offset-4" x-text="option.label"></li>
        </template>
        <template x-if="$combobox.noResults">
          <li class="p-cfa-sm cursor-not-allowed">
            <%= I18n.t("combobox.no_results") %>
          </li>
        </template>
      </ul>
    </div>
  </template>
  <%= render(FormErrorsComponent.new(form: @form, method: @method)) %>
</div>
