<div x-data="{condition: false}"
     x-effect="condition = $store.<%= store_key %> === '<%= @value %>' ||
                           (Array.isArray($store.<%= store_key %>) && $store.<%= store_key %>.includes('<%= @value %>'))">
  <p class="sr-only" aria-live="polite" role="status"
     x-text="'<%= content_description %> is now ' + (condition ? 'visible' : 'hidden')">
  </p>
  <div x-cloak x-show="condition" class="space-y-cfa-med">
    <%= content %>
  </div>
</div>
