<div class="space-y-4" x-data x-init="Alpine.store('<%= @method %>', '<%= current_value %>');">
  <%= @form.label @method, @label, class: "label block #{required_class}" %>
  <% if @help_text %>
    <p class="help_text">
      <%= @help_text %>
    </p>
  <% end %>
  <%= @form.collection_select @method, @collection, @item_value_method, @item_label_method, {prompt: "- Select -"}, {"x-model" => "$store.#{@method}"} %>
  <%= render(FormErrorsComponent.new(form: @form, method: @method)) %>
</div>
