<div class="space-y-4">
  <%= @form.label @method, @label, class: "label block #{required_class}" %>
  <% if @help_text %>
    <p class="help_text">
      <%= @help_text %>
    </p>
  <% end %>
  <%= @form.collection_select @method, @collection, @item_value_method, @item_label_method, {prompt: "- Select -"}, {"x-data" => "{}", "x-model" => "$store.#{@method}"} %>
  <%= render(FormErrorsComponent.new(form: @form, method: @method)) %>
</div>

<script>
  function set_store_to_current_value() {
    Alpine.store("<%= @method %>", "<%= current_value %>");
  }

  if (window.Alpine === undefined) {
    document.addEventListener('alpine:init', set_store_to_current_value);
  } else {
    set_store_to_current_value();
  }
</script>
