<div class="<%= class_names("cfa-stack-sm", @css_class) %>">
  <%= @form.label @method, label_with_optional_marker, class: "label block" %>
  <% if @help_text %>
    <p class="help_text">
      <%= @help_text %>
    </p>
  <% end %>
  <%= @form.text_field @method, **field_attrs(class: "w-full max-w-sm", **aria_required_attrs) %>
  <%= render(FormErrorsComponent.new(form: @form, method: @method)) %>
</div>
