<fieldset class="memorable-date">
  <% invalid = @form.object.errors[@method].any? %>
  <legend class="memorable-date__heading">
    <span class="memorable-date__label"><%= @label %></span>
    <% if @helper_text %>
      <span class="help_text"><%= @helper_text %></span>
    <% end %>
  </legend>
  <div class="flex gap-cfa-sm items-end">
    <!-- MONTH -->
    <div class="w-[177px]">
      <%= label_tag input_id(2), @label_month, id: "#{input_id(2)}-label", class: "label block mb-cfa-xsm" %>
      <div
        x-data="{
          open: false,
          value: '<%= month_value %>',
          label: '<%= initial_month_label %>',
          options: <%= month_options_json %>,
          activeIndex: <%= initial_active_index %>,
          listboxId: '<%= input_id(2) %>-listbox',
          buttonId: '<%= input_id(2) %>',
          optionId(i) { return this.buttonId + '-option-' + i },
          openList() { this.open = true },
          closeList() { this.open = false },
          selectAt(i) {
            const opt = this.options[i]
            this.value = String(opt.value)
            this.label = opt.label
            this.activeIndex = i
            this.closeList()
          }
        }"
        class="cfa-custom-select"
        @click.outside="closeList()"
      >
        <button
          type="button"
          id="<%= input_id(2) %>"
          class="cfa-custom-select__button"
          :class="open ? 'cfa-custom-select__button--open' : ''"
          aria-haspopup="listbox"
          :aria-controls="listboxId"
          aria-invalid="<%= invalid %>"
          :aria-expanded="open.toString()"
          @click="open ? closeList() : openList()"
        >
          <span x-text="label" class="cfa-custom-select__value"></span>
          <span class="cfa-custom-select__chevron-wrap" :class="open ? 'cfa-custom-select__chevron-wrap--open' : ''">
            <span class="cfa-custom-select__chevron-icon" :class="open ? 'cfa-custom-select__chevron-icon--open' : ''">
              <%= render(IconComponent.new(icon: "chevron")) %>
            </span>
          </span>
        </button>
        <ul
          :id="listboxId"
          x-show="open"
          x-cloak
          class="cfa-custom-select__listbox"
          role="listbox"
        >
          <% month_options.each_with_index do |(label, value), idx| %>
            <li
              role="option"
              class="cfa-custom-select__option"
              @click="selectAt(<%= idx %>)"
            >
              <%= label %>
            </li>
          <% end %>
        </ul>
        <%= hidden_field_tag param_name(2), month_value, "x-model": "value" %>
      </div>
    </div>
    <!-- DAY -->
    <div>
      <%= label_tag input_id(3), @label_day, class: "label block mb-cfa-xsm" %>
      <%= @form.text_field "#{@method}(3i)",
            value: day_value,
            id: input_id(3),
            class: "memorable-date__input memorable-date__input--day" %>
    </div>
    <!-- YEAR -->
    <div>
      <%= label_tag input_id(1), @label_year, class: "label block mb-cfa-xsm" %>
      <%= @form.text_field "#{@method}(1i)",
            value: year_value,
            id: input_id(1),
            class: "memorable-date__input memorable-date__input--year" %>
    </div>
  </div>
  <%= render(FormErrorsComponent.new(form: @form, method: @method)) %>
</fieldset>
