<div class="memorable-date">
  <% invalid = @form.object.errors[@method].any? %>
  <div class="memorable-date__heading">
    <p class="memorable-date__label"><%= @label %></p>
    <% if @helper_text %>
      <p class="help_text"><%= @helper_text %></p>
    <% end %>
  </div>
  <div class="flex gap-cfa-sm items-end">
    <div class="w-[177px]">
      <%= label_tag input_id(2), @label_month, class: "label block mb-cfa-xsm" %>
      <div
        x-data="{ open: false, value: '<%= month_value %>', label: '<%= month_value.present? ? month_options.to_h.invert[month_value] : @label_month_select %>' }"
        class="relative"
        @click.outside="open = false"
        @keydown.escape.window="open = false"
      >
        <button
          type="button"
          id="<%= input_id(2) %>"
          class="memorable-date__select"
          :class="open ? 'memorable-date__select--open' : ''"
          aria-haspopup="listbox"
          aria-controls="<%= input_id(2) %>-listbox"
          aria-invalid="<%= invalid %>"
          :aria-expanded="open.toString()"
          @click="open = !open"
        >
          <span x-text="label" class="truncate text-left flex-1 pl-cfa-sm"></span>
          <span class="memorable-date__chevron-wrap">
            <span class="memorable-date__chevron" :class="open ? 'memorable-date__chevron--open' : ''"></span>
          </span>
        </button>
        <ul
          id="<%= input_id(2) %>-listbox"
          x-show="open"
          x-cloak
          class="memorable-date__listbox"
          role="listbox"
        >
          <% month_options.each do |label, value| %>
            <li
              role="option"
              class="memorable-date__option"
              @click="
                value = '<%= value %>';
                label = '<%= label %>';
                open = false;
              "
            >
              <%= label %>
            </li>
          <% end %>
        </ul>
        <%= hidden_field_tag param_name(2), month_value, "x-model": "value" %>
      </div>
    </div>
    <div>
      <%= label_tag input_id(3), @label_day, class: "label block mb-cfa-xsm" %>
      <%= @form.text_field "#{@method}(3i)",
            value: day_value,
            id: input_id(3),
            type: "text",
            inputmode: "numeric",
            minlength: 1,
            maxlength: 2,
            placeholder: "DD",
            aria: {invalid: invalid},
            class: "memorable-date__input memorable-date__input--day" %>
    </div>
    <div>
      <%= label_tag input_id(1), @label_year, class: "label block mb-cfa-xsm" %>
      <%= @form.text_field "#{@method}(1i)",
            value: year_value,
            id: input_id(1),
            type: "text",
            inputmode: "numeric",
            minlength: 4,
            maxlength: 4,
            placeholder: "YYYY",
            aria: {invalid: invalid},
            class: "memorable-date__input memorable-date__input--year" %>
    </div>
  </div>
  <%= render(FormErrorsComponent.new(form: @form, method: @method)) %>
</div>
