<dialog
  id="<%= @name %>"
  data-cfa-modal="<%= @name %>"
  aria-labelledby="<%= @name %>-title"
  class="cfa-modal flex flex-col min-h-50 max-h-[100vh] md:max-h-[80vh] overflow-auto bg-white rounded-lg border-border-secondary border-2 focus:outline-none">
  <div class="p-cfa-lg cfa-stack-med max-w-[360px]">
    <div class="flex flex-row gap-x-cfa-xl">
      <h1 id="<%= @name %>-title"><%= header %></h1>
      <form method="dialog" class="contents">
        <button type="submit" formnovalidate class="flex shrink-0 cursor-pointer bg-transparent border-0 p-0 text-inherit focus-visible:rounded-sm focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-focus" aria-label="<%= t("cfaui.modal.close_aria") %>"><%= inline_icon(:close, size: 25, aria_hidden: true) %></button>
      </form>
    </div>
    <div class="cfa-stack-med">
      <%= content %>
    </div>
    <% if buttons? %>
      <div id="<%= @name %>-buttons" class="pt-cfa-lg cfa-stack-med">
        <% buttons.each do |button| %>
          <%= button %>
        <% end %>
      </div>
    <% end %>
  </div>
</dialog>
