<% label_id = "#{@label.parameterize}-#{object_id}" %>
<% if @heading %>
  <div class="<%= class_names("cfa-stack-sm", @css_class) %>">
      <%= content_tag(@heading, @label, class: "label block", id: label_id) %>
      <%= content_tag(@text ? :span : :div, @text || content, class: class_names("w-full max-w-sm", @style), aria: {labelledby: label_id}) %>
  </div>
<% else %>
  <dl class="<%= class_names("cfa-stack-sm", @css_class) %>">
      <dt class="label block"><%= @label %></dt>
      <dd class="w-full max-w-sm ml-0 <%= @style %>"><%= @text || content %></dd>
  </dl>
<% end %>
