<fieldset class="fieldset-group" <% if @aria_labelledby %>aria-labelledby="<%= @aria_labelledby %>"<% end %> <% if has_error? %>aria-describedby="<%= error_dom_id %>"<% end %> x-data x-init="Alpine.store('<%= store_key %>', '<%= current_value %>');">
  <% if @legend %>
    <legend class="sr-only"><%= @legend %></legend>
  <% end %>
  <%= @form.hidden_field @method, value: "" %>
  <% content = content_tag(:div, class: @layout) do
       capture do
         @form.collection_radio_buttons(@method, @collection, @item_value_method, @item_label_method) do |radio_button_item|
           item_value = radio_button_item.value.to_s
           radio_attrs = {
             "x-model" => "$store.#{store_key}",
             :class => radio_classes
           }
           if @scope.present?
             input_id = "#{@form.object_name}_#{@method}_#{item_value}_#{@scope}"
             radio_attrs[:id] = input_id
           end
           label_classes = @small ? ["type-progress-text"] : []
           label_opts = {}
           label_opts[:for] = input_id if @scope.present?
           label_opts[:class] = label_classes.join(" ") if label_classes.any?
           content_tag :div, class: ["form_item", ("form_item--bordered" if @bordered), ("form_item--warning" if @bordered && has_warning?)].compact.join(" ") do
             concat radio_button_item.radio_button(radio_attrs)
             concat(label_opts.empty? ? radio_button_item.label : radio_button_item.label(label_opts))
           end
         end
       end
     end %>
  <% concat content %>
  <% if has_error? || has_warning? %>
    <div class="mt-cfa-sm">
      <%= render(FormErrorsComponent.new(form: @form, method: @method, small: @small)) %>
      <% if has_warning? %>
        <%= render(FormWarningComponent.new(warning_message: @warning_message, small: @small)) %>
      <% end %>
    </div>
  <% end %>
</fieldset>
