<fieldset class="border-none p-0 m-0 min-w-0" x-data x-init="Alpine.store('<%= @method.to_s + @unique_alpine_store_key.to_s %>', '<%= current_value %>');">
  <legend class="sr-only"><%= @legend %></legend>
  <%= @form.hidden_field @method, value: "" %>
  <% content = content_tag(:div, class: "#{@layout} space-y-cfa-med") do
       capture do
         @form.collection_radio_buttons(@method, @collection, @item_value_method, @item_label_method) do |radio_button_item|
           content_tag :div, class: "radio_button_item" do
             concat radio_button_item.radio_button("x-model" => "$store.#{@method.to_s + @unique_alpine_store_key.to_s}")
             concat radio_button_item.label
           end
         end
       end
     end %>
  <% concat content %>
  <div class="mt-cfa-sm">
    <%= render(FormErrorsComponent.new(form: @form, method: @method)) %>
  </div>
</fieldset>
