<%= render CardComponent.new do %>
  <details class="group">
    <summary class="flex justify-between items-center list-none cursor-pointer">
      <p class='flex font-bold items-center gap-cfa-sm'>
         <% if @icon.present? %>
         <%= inline_icon(@icon, size: 20) %>
         <% end %>
         <%= @summary_text %>
      </p>
      <span class="ml-[10px] inline-flex items-center group-open:hidden"><%= inline_icon('chevron_down', size: 25) %></span>
      <span class="ml-[10px] hidden group-open:inline-flex items-center"><%= inline_icon('chevron_up', size: 25) %></span>
    </summary>

     <div class="space-y-cfa-med">
       <%= content %>
     </div>
  </details>
<% end %>
