<div class="select-field">
  <% invalid = @form.object.errors[@method].any? %>
  <%= @form.label @method, label_with_optional_marker, id: "#{input_id}-label", class: "label block" %>
  <% if @help_text %>
    <p class="help_text"><%= @help_text %></p>
  <% end %>
  <div
    x-data="{
      open: false,
      disabled: <%= @disabled ? "true" : "false" %>,
      value: '<%= current_value %>',
      label: '<%= current_label %>',
      options: <%= options_json %>,
      activeIndex: <%= initial_active_index %>,
      listboxId: '<%= input_id %>-listbox',
      buttonId: '<%= input_id %>',
      optionId(i) { return this.buttonId + '-option-' + i },

      openList() { if (!this.disabled) this.open = true },
      closeList() { this.open = false },

      selectAt(i) {
        if (this.disabled) return
        const opt = this.options[i]
        this.value = String(opt.value)
        this.label = opt.label
        this.activeIndex = i
        this.closeList()
      }
    }"
    class="cfa-custom-select select-field__wrapper"
    @click.outside="closeList()"
  >
    <button
      type="button"
      id="<%= input_id %>"
      role="combobox"
      class="cfa-custom-select__button"
      :class="{
        'cfa-custom-select__button--open': open,
        'cfa-custom-select__button--disabled': disabled
      }"
      aria-haspopup="listbox"
      :aria-controls="listboxId"
      aria-invalid="<%= invalid %>"
      :aria-expanded="open.toString()"
      aria-disabled="<%= @disabled %>"
      <%= 'tabindex="-1"' if @disabled %>
      @click="open ? closeList() : openList()"
    >
      <span x-text="label" class="cfa-custom-select__value"></span>
      <span class="cfa-custom-select__chevron-wrap" :class="open ? 'cfa-custom-select__chevron-wrap--open' : ''">
        <span class="cfa-custom-select__chevron-icon" :class="open ? 'cfa-custom-select__chevron-icon--open' : ''">
          <%= render(IconComponent.new(icon: "chevron")) %>
        </span>
      </span>
    </button>
    <ul
      :id="listboxId"
      x-show="open"
      x-cloak
      class="cfa-custom-select__listbox"
      role="listbox"
      :aria-labelledby="'<%= input_id %>-label'"
    >
      <% options.each_with_index do |option, idx| %>
        <li
          role="option"
          class="cfa-custom-select__option"
          @click="selectAt(<%= idx %>)"
        >
          <%= option[:label] %>
        </li>
      <% end %>
    </ul>
    <%= @form.hidden_field @method, "x-model": "value" %>
  </div>
  <%= render(FormErrorsComponent.new(form: @form, method: @method)) %>
</div>
