<div class="<%= class_names("cfa-stack-sm", @css_class) %>" x-data x-init="Alpine.store('<%= @method %>', '<%= current_value %>');">
  <%= @form.label @method, label_with_optional_marker, class: "label block" %>
  <% if @help_text %>
    <p class="help_text">
      <%= @help_text %>
    </p>
  <% end %>
  <%= @form.collection_select @method, @collection, @item_value_method, @item_label_method, {prompt: "- Select -"}, field_attrs("x-model" => "$store.#{@method}", :class => "w-full max-w-sm", **aria_required_attrs) %>
  <%= render(FormErrorsComponent.new(form: @form, method: @method)) %>
</div>
