<div
  x-data="{
    show: false,
    selectionStart: null,
    selectionEnd: null,
    announcement: '',
    preserveCursor() {
      this.selectionStart = this.$refs.input.selectionStart
      this.selectionEnd = this.$refs.input.selectionEnd
    },
    restoreCursor() {
    this.$nextTick(() => {
      this.$refs.input.focus()
      if (this.selectionStart !== null && this.selectionEnd !== null) {
        this.$refs.input.setSelectionRange(this.selectionStart, this.selectionEnd)
      }
    })
    },
    toggleShow() {
      this.preserveCursor()
      this.show = !this.show
      this.announcement = this.show ? 'TIN visible' : 'TIN hidden'
      this.restoreCursor()
    }
  }"
>
  <div class="space-y-2">
    <%= @form.label @method, @label, class: "label block", for: @form.field_id(@method) %>

    <% if @help_text %>
      <p class="help_text">
        <%= @help_text %>
      </p>
    <% end %>

    <%= @form.text_field @method,
                         id: @form.field_id(@method),
                         type: "text",
                         class: "w-full max-w-sm border border-zinc-900 mb-2",
                         placeholder: "000-00-0000",
                         "x-ref": "input",
                         "x-mask": "999-99-9999",
                         "x-bind:style": "show ? '' : '-webkit-text-security: disc;'" %>

    <%= render(FormErrorsComponent.new(form: @form, method: @method)) %>
  </div>

  <%= check_box_tag "#{@form.field_id(@method)}_show",
                    "1",
                    false,
                    id: @form.field_id(@method, :show),
                    class: "accent-zinc-900",
                    "x-bind:checked": "show",
                    "x-on:change": "toggleShow()" %>

  <%= label_tag @form.field_id(@method, :show), "Show" %>

  <div
    class="sr-only"
    role="alert"
    aria-atomic="true"
    x-text="announcement"
  ></div>
</div>