<script>
  function tinToggle() {
    return {
      show: false,
      selectionStart: null,
      selectionEnd: null,
      announcement: '',

      visibleText: <%= raw t("cfaui.tin.visible").to_json %>,
      hiddenText: <%= raw t("cfaui.tin.hidden").to_json %>,

      init() {
        this.$watch('show', (value) => {
          this.preserveCursor()
          this.announcement = value ? this.visibleText : this.hiddenText
          this.restoreCursor()
        })
      },

      preserveCursor() {
        this.selectionStart = this.$refs.input.selectionStart
        this.selectionEnd = this.$refs.input.selectionEnd
      },

      restoreCursor() {
        this.$nextTick(() => {
          this.$refs.input.focus()
          if (this.selectionStart !== null && this.selectionEnd !== null) {
            this.$refs.input.setSelectionRange(this.selectionStart, this.selectionEnd)
          }
        })
      }
    }
  }
</script>

<% fields_markup = capture do %>
  <% fields.each do |field| %>
    <div x-data="tinToggle()">
      <div class="cfa-stack-sm">
        <%= @form.label field[:method], field_label(field), class: "label block", for: @form.field_id(field[:method]) %>

        <% if field[:help_text] %>
          <p id="<%= @form.field_id(field[:method], :help) %>" class="help_text">
            <%= field[:help_text] %>
          </p>
        <% end %>

        <%= @form.text_field field[:method], **text_field_options(field) %>

        <%= render(FormErrorsComponent.new(form: @form, method: field[:method])) %>
      </div>

      <div class="mt-cfa-sm">
        <%= check_box_tag "#{@form.field_id(field[:method])}_show",
              "1",
              false,
              id: @form.field_id(field[:method], :show),
              class: "accent-text-default",
              autocomplete: "off",
              "x-model": "show" %>

        <%= label_tag @form.field_id(field[:method], :show), t("cfaui.tin.show") %>
      </div>

      <div
        class="sr-only"
        role="alert"
        aria-atomic="true"
        x-text="announcement"
      ></div>
    </div>
  <% end %>
<% end %>

<% if saved_value? %>
  <div x-data="{
        editing: <%= editing_initially? %>,
        edit() {
          this.editing = true
          this.$nextTick(() => this.$root.querySelector('[data-tin-input]')?.focus())
        },
        cancel() {
          this.editing = false
          this.$root.querySelectorAll('[data-tin-input]').forEach((input) => { input.value = '' })
        }
      }">
    <div x-show="!editing" x-cloak class="cfa-stack-sm">
      <p class="label block"><%= @label %></p>
      <p class="[font-feature-settings:'calt'_0]" aria-hidden="true"><%= masked_value %></p>
      <span class="sr-only"><%= t("cfaui.tin.tin_ending_in", last_four: last_four) %></span>
      <button type="button" class="btn btn--secondary btn--small" x-on:click="edit()">
        <%= t("cfaui.tin.edit") %>
      </button>
    </div>

    <div x-show="editing" x-cloak class="cfa-stack-med">
      <%= fields_markup %>
      <button type="button" class="btn btn--secondary btn--small" x-on:click="cancel()">
        <%= t("cfaui.tin.cancel") %>
      </button>
    </div>
  </div>
<% else %>
  <div class="cfa-stack-med">
    <%= fields_markup %>
  </div>
<% end %>
