<button x-data @click="$dispatch('<%= @modal_name %>-modal')" type="button" class="<%= class_names("group flex items-center gap-cfa-sm text-link-unvisited cursor-pointer text-left focus-visible:outline-2 focus-visible:outline-focus focus-visible:outline-offset-2 focus-visible:rounded-sm", @css_class) %>">
  <%= render IconComponent.new(icon: "info_outline", css_class: "text-current") %>
  <span class="underline group-hover:no-underline"><%= @label %></span>
</button>
<% if content? %>
  <%= render ModalComponent.new(name: @modal_name) do |c| %>
    <% c.with_header { @header } %>
    <%= content %>
  <% end %>
<% end %>
