<% field_name = "#{@form.object_name}[#{@method}]" %>
<div class="yes-no-buttons" x-data="{ selected: null }">
  <div class="yes-no-buttons__group">
    <% [["yes", @yes_label], ["no", @no_label]].each do |val, label| %>
      <button type="submit" name="<%= field_name %>" value="<%= val %>"
              class="yes-no-buttons__button"
              @click="selected = '<%= val %>'"
              :class="{ 'is-selected': selected === '<%= val %>' }">
        <%= inline_icon(:circle_check, size: 24, aria_hidden: true, css_class: "yes-no-buttons__check") %>
        <span class="yes-no-buttons__label"><%= label %></span>
      </button>
    <% end %>
  </div>
  <% if @unsure %>
    <div class="yes-no-buttons__unsure">
      <button type="submit" name="<%= field_name %>" value="unsure" class="btn btn--back btn--small"><%= @unsure_label %></button>
    </div>
  <% end %>
</div>
